.footerMenu {
  display: flex;
  justify-content: space-around;
  background-color: #FBFBFB;
  padding: 10px 0;
}

.footerMenu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerMenu li {
  width: calc(100%/5);
}

.footerMenu li a{
  display: block;
  width: 100%;
  height: 100%; 
  text-align: center;
}

.footerMenu img {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}