.dp_f{display: flex;}
.n_color{color: #00e4ff;}
.e_color{color: #c6bbff;}
.w_color{color: #e2ff43}



html, body {height: 100%}
table {font-size: 1rem;}
table th, table td{font-size: 1.5rem;}
ul {font-size: 1rem;}
.cont_box{justify-content: space-between;}
.btn-primary{height: 3.5rem;padding: 0 1rem;line-height: 3.4rem; margin: 0;border-radius: 0.6rem;font-size: 1.5rem; color: #FFFFFF; background-color: #6979f8;border-color: #6979f8;}
.btn-primary:hover {color: #fff;background-color: #6979f8;border-color: #6979f8;}
.btn-primary:focus {background-color: #6979f8;border-color: #6979f8;box-shadow: unset;}

.selectBox{width: 12.8rem;height: 3.4rem;padding: 0.5rem 0 0.5rem 2.3rem; background: #000000;color: #00e4ff;font-size: 1.8rem;border-radius: 2.2rem; border: 1px solid #6979F8;}
.selectBox option{color:#FFFFFF}
.selectBox.ch_date{padding-left: 1.2rem; font-family: "GongGothic";font-size: 1.4rem; background-color: #EDEFFE;color: #6979F8;}

.wrap{position: relative;padding-bottom: 6.2rem; max-width: 75rem;min-height: 100%; margin: 0 auto;}
.container{padding:2.4rem;}


/*대진표 생성*/

.header .addbox{display: flex;flex-direction: row-reverse;align-items: center;justify-content: space-between;margin-bottom: 2rem;}
.header .addbox > .btn{width: 3.6rem;height: 3.6rem;text-align: center;display: block;padding: 0.9rem 0.9rem 0.8rem 0.8rem;background-color: #6979F8;border-radius: 1rem;}
.header .addbox > .btn > img{width: 1.8rem;height: 1.8rem;}
.header .addbox .addinput{display: flex;justify-content: center;align-items: center;padding: 0.3rem 0.3rem 0.3rem 0.7rem;background-color:rgba(105, 121, 248, 0.12); border-radius: 0.6rem;}
.header .addbox .addinput> img{width: 2.2rem;}
.header .addbox .addinput  .newMember{width: 10rem; background: transparent; font-size: 1.5rem;color: rgba(105, 121, 248, 0.4);}
.header .addbox .addinput  .newMember::placeholder{color: rgba(105, 121, 248, 0.4);}
.header .kv{position: relative;padding: 1.8rem; border-radius: 1.2rem;display: flex;margin-bottom: 2rem; justify-content: center;align-items: center;flex-direction: column; background: url('../../images/kv.jpg')no-repeat center center;background-size: 100% 100%;overflow: hidden;}
.header .kv .dim{position: absolute;top: 0;left: 0;width: 100%;height: 100%; background-color: rgba(0, 0, 0, 0.7);}
.header .kv .txt_box{display: flex;flex-direction: column;align-items: center;z-index: 99;}
.header .kv .logo{width: 5.4rem;height: 4.4rem; background: url('../../images/logo.png')no-repeat center center;background-size: 100% auto;}
.header .kv .txt_box h2{font-size: 1.5rem;font-weight: 500; color: #FFFFFF;}
.header .kv .txt_box h3{margin: 1.0rem 0; font-size: 3rem;font-weight: 500;color: #00e4ff;}
.header .sel_cont{justify-content: center;z-index: 1;}
.header .sel_cont .sel_box{position: relative;}
.header .sel_cont .sel_box::after{position: absolute;top: 50%;right: 0;margin: -0.7rem 1rem 0 0; display: block;content: '';width: 1.4rem;height: 1.4rem;background: url('../../images/icon_4.png') no-repeat center center;background-size: 100% 100%;}
.header .sel_cont .btn-primary{width: 9.7rem;height: 3.4rem; border-radius: 2.2rem;font-size: 1.5rem;margin: 0 1.4rem;}
.header .sel_cont .shuffle_btn{display: flex;justify-content: center;align-items: center;justify-content: center; width: 3.8rem; height: 3.8rem; background: #e2ff43;border-radius: 50%;}
.header .sel_cont .shuffle_btn img{width: 2.8rem;height: 2.8rem;}

.cont_box .thead {margin-bottom: 0.7rem;padding-left: 0.8rem;}
.cont_box .thead p{font-family: 'GongGothic';font-size: 1.5rem;color: #6979F8;}

.memberBox .memberList{}
.memberBox .memberList li {position:relative;display: flex;justify-content: center;align-items: center;}
.memberBox .memberList li input[type="checkbox"]{width: 1.8rem;height: 1.8rem;}
.memberBox .memberList li input[type="checkbox"]:checked{accent-color: #6979F8;}
.memberBox .memberList li label{position: relative;display: inline-block;width: 100%;line-height: 2.8rem;padding-left: 1rem;font-size: 1.5rem;letter-spacing: -0.36px;}


.areaBox .countList{padding: 1.6rem 2rem;column-count: 3;column-gap: 2rem; background: #F4F6FC;border-radius: 1rem;}
.areaBox .countList li{line-height: 2rem;}
.areaBox ul li{font-size: 1.2rem;}
.areaBox .table {margin-bottom: 3.8rem;}
.areaBox .table .thead {display: flex;}
.areaBox .table .thead p:last-child{margin-left: 7.5rem;}
.areaBox .table .tbody > li:nth-child(odd){background: #e0ddf3;}
.areaBox .table .tbody li{display: flex;align-items: center;justify-content: space-between; border-radius: 0.6rem;margin-bottom: 0.3rem;}
.areaBox .table .tbody > li:nth-child(even){background: #f0eeff;}
.areaBox .table .tbody > li > p:first-child {width: 4.4rem; text-align: center;line-height: 3.5rem; font-size: 1.2rem; color: #FFFFFF;background: rgba(105, 121, 248, 0.6);border-radius: 0.6rem;}
.areaBox .table .tbody > li div {display: flex;justify-content: center;align-items: center;width: calc(100% - 4.4rem);padding: 0 ;}
.areaBox .table .tbody > li div p ,.areaBox .table .tbody > li div span{ font-family: 'GongGothic'; font-size: 1.3rem; font-weight: 500; color: #0F0F0F;}


/*게임점수*/
.score .cont_box{max-width: 37.5rem;margin: 0 auto; padding:0 2.5rem;}
.score .sel_cont{gap: 2rem;}

.score .areaBox .table .thead p:last-child{margin-left: 10rem;}
.score .areaBox .table .tbody li{margin-bottom: 0.6rem;}
.score .areaBox .table .tbody > li > p:first-child{line-height: 4.2rem;}
.score .areaBox .table .tbody input[type="number"]{width: 2.6rem;height: 2.6rem;margin: 0 0.4rem; text-align: center; font-family: "GongGothic";font-size: 1.5rem;font-weight: 500; color: #6979F8;}
.score .areaBox .table .tbody input[type="number"]:focus{outline: 1px solid #6979F8;}
.score .areaBox .table .tbody > li div p ,.score .areaBox .table .tbody > li div span{ font-family: 'GongGothic'; font-size: 1.5rem; font-weight: 100; color: #0F0F0F;}