@charset "utf-8";
/*size pc-(), mo-()*/

/*font*/
/*
  Nunito Sans
  Extra-light 200 Light 300 Regular 400 Semi-bold 600 Bold 700 Extra-bold 800 Black 900

  Pretendard
  Thin 100 Extra-light 200 Light 300 Regular 400 Medium 500 Semi-bold 600 Bold 700 Extra-bold 800 Black 900

  FSSiena
  ExtraLight 200 Light 300
*/
@font-face {
  font-family: 'GongGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'GongGothic';
  src: url('../fonts/esamanru OTF Light.otf') format('opentype'),
  url('../fonts/esamanru Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'GongGothic';
  src: url('../fonts/esamanru OTF Medium.otf') format('opentype'),
  url('../fonts/esamanru Medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'GongGothic';
  src: url('../fonts/esamanru OTF Bold.otf') format('opentype'),
  url('../fonts/esamanru Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face{
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Thin.woff');
  src: url('../fonts/Pretendard-Thin.woff') format('woff'),
  url('../fonts/Pretendard-Thin.woff2') format('woff2'),
  url('../fonts/Pretendard-Thin.otf') format('opentype'),
  url('../fonts/Pretendard-Thin.ttf') format('truetype');
  font-weight: 100;
}
@font-face{
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-ExtraLight.woff');
  src: url('../fonts/Pretendard-ExtraLight.woff') format('woff'),
  url('../fonts/Pretendard-ExtraLight.woff2') format('woff2'),
  url('../fonts/Pretendard-ExtraLight.otf') format('opentype'),
  url('../fonts/Pretendard-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}
@font-face{
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Light.woff');
  src: url('../fonts/Pretendard-Light.woff') format('woff'),
  url('../fonts/Pretendard-Light.woff2') format('woff2'),
  url('../fonts/Pretendard-Light.otf') format('opentype'),
  url('../fonts/Pretendard-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face{
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.woff');
  src: url('../fonts/Pretendard-Regular.woff') format('woff'),
  url('../fonts/Pretendard-Regular.woff2') format('woff2'),
  url('../fonts/Pretendard-Regular.otf') format('opentype'),
  url('../fonts/Pretendard-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face{
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Medium.woff');
  src: url('../fonts/Pretendard-Medium.woff') format('woff'),
  url('../fonts/Pretendard-Medium.woff2') format('woff2'),
  url('../fonts/Pretendard-Medium.otf') format('opentype'),
  url('../fonts/Pretendard-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face{
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-SemiBold.woff');
  src: url('../fonts/Pretendard-SemiBold.woff') format('woff'),
  url('../fonts/Pretendard-SemiBold.woff2') format('woff2'),
  url('../fonts/Pretendard-SemiBold.otf') format('opentype'),
  url('../fonts/Pretendard-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face{
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Bold.woff');
  src: url('../fonts/Pretendard-Bold.woff') format('woff'),
  url('../fonts/Pretendard-Bold.woff2') format('woff2'),
  url('../fonts/Pretendard-Bold.otf') format('opentype'),
  url('../fonts/Pretendard-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face{
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-ExtraBold.woff');
  src: url('../fonts/Pretendard-ExtraBold.woff') format('woff'),
  url('../fonts/Pretendard-ExtraBold.woff2') format('woff2'),
  url('../fonts/Pretendard-ExtraBold.otf') format('opentype'),
  url('../fonts/Pretendard-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
@font-face{
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Black.woff');
  src: url('../fonts/Pretendard-Black.woff') format('woff'),
  url('../fonts/Pretendard-Black.woff2') format('woff2'),
  url('../fonts/Pretendard-Black.otf') format('opentype'),
  url('../fonts/Pretendard-Black.ttf') format('truetype');
  font-weight: 900;
}


/* reset */
*{margin: 0;padding: 0;border: 0;box-sizing: border-box;word-break: keep-all; font-family:'Pretendard';font-weight: 400;font-size: 10px; color: #000000;}
html{-webkit-tap-highlight-color:transparent !important;-webkit-text-size-adjust: none;appearance: none;}
html{overflow-x: hidden;-webkit-touch-callout: none;}/* -webkit-user-select:none; 모바일 드래그 막기 */
body{min-width: 320px;max-width: 100%;/* font-family: 'Pretendard', 'FSSiena', sans-serif;font-weight: 400;color: #000000; */} /* 맞는 폰트로 변경 해줘야함 */
ul,ol,li,dl,dd,dt,input,h1,h2,h3,h4,h5,h6,p,b,input,button,textarea,fieldset,legend,td,th{margin: 0px;padding: 0px;}
li{list-style: none}
table,th,td{border-collapse: collapse;/*border-spacing: 0;*/}
/* input,textarea,button,select{} */
/* input{-webkit-appearance: none;-webkit-border-radius: 0;border-radius: 0;} */
input[type=text], input[type=tel], input[type="number"], input[type="email"], input[type="password"]{outline: none;}
input[type=text]::-ms-clear, 
input[type=tel]::-ms-clear{display: none;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{-webkit-appearance: none;margin: 0;}
select{-webkit-appearance: none;-moz-appearance: none;appearance: none;}
select::-ms-expand{display: none;}/* IE 10, 11의 네이티브 화살표 숨기기 */
button{border: none;background: none;cursor: pointer;transform: translate3d(0,0,0);}
button{overflow:visible\9}	/* button fix for ie8 */
label{cursor: pointer;}
label img{pointer-events: none;}
input::-webkit-input-placeholder{color:#999}
input::-moz-placeholder{color:#999}
input:-moz-placeholder{color:#999}
input:-ms-input-placeholder{color:#999}
textarea::-webkit-input-placeholder{color:#999}
textarea::-moz-placeholder{color:#999}
textarea:-moz-placeholder{color:#999}
textarea:-ms-input-placeholder{color:#999}
input:focus::-webkit-input-placeholder{color:transparent!important}
input:focus::-moz-placeholder{color:transparent!important}
input:focus:-moz-placeholder{color:transparent!important}
input:focus:-ms-input-placeholder{color:transparent!important}
textarea:focus::-webkit-input-placeholder{color:transparent!important}
textarea:focus::-moz-placeholder{color:transparent!important}
textarea:focus:-moz-placeholder{color:transparent!important}
textarea:focus:-ms-input-placeholder{color:transparent!important}
a{text-decoration: none;color: #242424;}
img{display: block;border: 0;width: 100%;}